version: "3.9"

services:
  web:
    build: .
    container_name: nextjs_web
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - WATCHPACK_POLLING_INTERVAL=300
      - DEBUG=watchpack*
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev:docker
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: ecommerce_quan_admin
      POSTGRES_PASSWORD: ecommerce_quan_admin
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
